body {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: mediumslateblue;
}



.box {
    border: thin solid black;
    width: 320px;
    height: 320px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: white;
}

.restart {
    width: fit-content;
    margin-top: 60px;
}