body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color: mediumslateblue;
}



.box {
    border: thin solid black;
    width: 354px;
    height: 355px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.square {
    border: thin solid black;
    background-color: white;
    width: 20px;
}

.restart {
    width: fit-content;
    margin-top: 60px;
}